@using System.Collections.Concurrent
@using System.ComponentModel.DataAnnotations
@using DiNet.GPipe.Dashboard.Api
@using DiNet.GPipe.Dashboard.Models
@using Microsoft.AspNetCore.SignalR.Client

@inject IBuildingApi BuildingApi
@inject IHttpClientFactory HttpClientFactory
@inject IHttpMessageHandlerFactory HandlerFactory
@implements IAsyncDisposable

<h3>ActiveBuildLogsView</h3>

<div class="d-flex flex-column"
     style="gap: 0.5rem; max-height: 400px; overflow-y: auto; padding: 1rem; border: 1px solid #ccc; background-color: #1e1e1e; color: #fff;">
    @foreach (var log in LogLines)
    {
        <span style="font-family: monospace; white-space: pre-wrap;">@log</span>
    }
</div>

@code {
    [Inject] private HubConnection _hubConnection { get; set; }

    [Parameter, EditorRequired]
    public ActiveBuildState Build { get; set; } = null!;

    public readonly ConcurrentQueue<string> LogLines = new();

    protected override async Task OnInitializedAsync()
    {
        if (Build == null)
        {
            return;
        }

        var result = await BuildingApi.GetBuildLogs(Build.BuildId, 1000);

        foreach (var line in result)
            LogLines.Enqueue(line);

        _hubConnection.On<string>("ReceiveLog", async (message) =>
        {
            await InvokeAsync(() =>
            {
                LogLines.Enqueue(message);
                StateHasChanged();
            });
        });

        await _hubConnection.StartAsync();

        if (_hubConnection.State == HubConnectionState.Connected)
        {
            await _hubConnection.InvokeAsync("JoinGroup", Build.BuildId);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.StopAsync();
            await _hubConnection.DisposeAsync();
            Console.WriteLine("Disposed " + Build.BuildId);
        }
    }
}
