@using System.Collections.Concurrent
@using System.ComponentModel.DataAnnotations
@using BlazorBootstrap
@using DiNet.GPipe.Dashboard.Api
@using DiNet.GPipe.Dashboard.Models
@using Microsoft.AspNetCore.SignalR.Client

@inject IBuildingApi BuildingApi
@inject IHttpClientFactory HttpClientFactory
@inject IHttpMessageHandlerFactory HandlerFactory
@implements IAsyncDisposable
@inject ILogger<ActiveBuildLogsView> logger

<h3>ActiveBuildLogsView</h3>

<ConsoleView LogLines="LogLines" />

@code {
    [Inject] protected ToastService ToastService { get; set; } = default!;

    [Inject] private HubConnection _hubConnection { get; set; }

    [Parameter, EditorRequired]
    public ActiveBuildState Build { get; set; } = null!;

    public readonly ConcurrentQueue<string> LogLines = new();

    private string? _previousBuildId;
    private bool _isEventSubscribed = false;
    protected override async Task OnParametersSetAsync()
    {
        if (Build == null) return;

        if (Build.BuildId == _previousBuildId) return;

        ToastService.Notify(new(ToastType.Primary, Build.BuildId));
        logger.LogDebug($"{Build.BuildId}");

        if (!_isEventSubscribed)
        {
            _hubConnection.On<string>("ReceiveLog", async (message) =>
            {
                await InvokeAsync(() =>
                {
                    LogLines.Enqueue(message);
                    StateHasChanged();
                });
            });
            _isEventSubscribed = true;
        }


        try
        {

            if (_hubConnection.State == HubConnectionState.Disconnected)
            {
                await _hubConnection.StartAsync();
            }

            if (_hubConnection.State == HubConnectionState.Connected)
            {
                if (!string.IsNullOrEmpty(_previousBuildId))
                {
                    await _hubConnection.InvokeAsync(methodName: "LeaveGroup", _previousBuildId);
                }

                var result = await BuildingApi.GetBuildLogs(Build.BuildId, 1000);

                LogLines.Clear();

                foreach (var line in result)
                    LogLines.Enqueue(line);

                await _hubConnection.InvokeAsync("JoinGroup", Build.BuildId);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"[ERROR] Не удалось запустить SignalR для билда {Build.BuildId}: {ex.Message}");
        }



        _previousBuildId = Build.BuildId;
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            try
            {
                if (_hubConnection.State == HubConnectionState.Connected && !string.IsNullOrEmpty(_previousBuildId))
                {
                    await _hubConnection.InvokeAsync("LeaveGroup", _previousBuildId);
                }

                
                await _hubConnection.StopAsync();
                Console.WriteLine("Disposed " + Build.BuildId);
            }
            catch (Exception ex)
            {
            }
        }
    }
}
